# Ignore pycharm environment
/Step2/venv
/Step2/.idea
/Step3/__pycache__
.vscode
/Step2/__pycache__
/Step2/bootstrapper/__pycache__
/Step2/server/__pycache__
/Step2/tests/__pycache__
/onode/venv
/onode/.idea
/onode/__pycache__
/onode/bootstrapper/__pycache__
/onode/server/__pycache__
/onode/tests/__pycache__
/onode/table/__pycache__
/client/*.jpg
/stream_server/__pycache__